.page-title {
  font-family: "acumin-pro";
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
  white-space: nowrap;
  text-align: center;
  margin: 3rem 0 4rem;
}

.page-optional-link-subtitle {
  text-align: center;
  margin: -0.9rem 0 clamp(66px, 7.1vw, 120px);
}

.page-optional-link-subtitle a {
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(1.22rem, 1.5vw, 1.5rem);
  white-space: nowrap;
  color: black;
  border-bottom: solid 1.3px rgb(78, 78, 78);
}

.masonry-gallery {
  columns: 2;
  gap: clamp(0.27rem, 0.8vw, 0.7rem);
  margin: 3rem 0 2.5rem;
}

.masonry-gallery img {
  width: 100%;
  margin-bottom: clamp(0.05rem, 0.5vw, 0.5rem);
  cursor: zoom-in;
}

.previous-and-next-page-button-container {
  display: flex;
  justify-content: space-between;
}

.previous-and-next-page-button-container h3 {
  display: inline-block;
  font-family: "acumin-pro";
  font-size: clamp(1.7rem, 3vw, 2.2rem);
  color: black;
}

.previous-page-button-container a,
.next-page-button-container a {
  display: flex;
  align-items: center;
}

.previous-page-button-container img,
.next-page-button-container img {
  height: clamp(35px, 3vw, 50px);
  width: clamp(35px, 3vw, 50px);
}

.previous-page-button-container img {
  margin-right: 1.2rem;
}

.next-page-button-container img {
  margin-left: 1.2rem;
}

@media (max-width: 516px) {
  .previous-and-next-page-button-container-br-span-1::before {
    content: "\a";
    white-space: pre;
  }
}

@media (max-width: 645px) {
  .previous-and-next-page-button-container-br-span-2::before {
    content: "\a";
    white-space: pre;
  }
}

@media (min-width: 768px) {
  .page-title {
    font-size: 2.3rem;
  }

  .page-optional-link-subtitle {
    margin: -20px 0 70px;
  }

  .masonry-gallery {
    margin: 3rem 0 4rem;
  }

  .previous-and-next-page-button-container h3 {
    font-size: 2.3rem;
  }

  .previous-page-button-container img,
  .next-page-button-container img {
    height: 55px;
    width: 55px;
  }
}
